name: Test

on: [pull_request]

jobs:
  go:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: Install mise
        uses: jdx/mise-action@v2
      - name: Install tools with mise
        run: mise install
      - name: Reshim mise
        run: mise reshim
      - name: Test
        run: |
          go install github.com/magefile/mage
          mise reshim
          mage test
  go-mod-tidy:
    name: "Go mod tidy"
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: Install mise
        uses: jdx/mise-action@v2
      - name: Install tools with mise
        run: mise install
      - name: Reshim mise
        run: mise reshim
      - name: Tidy check
        run: |
          go install github.com/magefile/mage
          mise reshim
          mage gomodtidy
